extends ../layout

block content
  h2 Session Details
  
  ul
    li: a(href=session.urlEdit) Edit Session

  dl
    dt Date
    dd= session.timeDetails.startDateFormatted

    dt Time
    dd !{session.timeDetails.timeSpan} (!{session.timeDetails.duration})

  h3 Activities
  table.table.table-bordered
    thead
      tr
        td Time
        td Activity
        //- td Details
    tbody
      each block in session.blocks
        tr
          td
            span !{block.timeDetails.timeSpan} (!{block.timeDetails.duration})
          td
            span= block.activity.name