extends ./sessions-layout

block content
  div.row
    div.col-xs-5
      h2 Session Details
    div.col-xs-7.text-right.button-list
      h2
        a.btn.btn-default(href='/sessions') Back to Session History
        a.btn.btn-info(href=session.dbModel.urlEdit) Edit Session
        a.btn.btn-danger(href=session.dbModel.urlDelete) Delete Session

  div.row.vert-spacer-big
    div.col-xs-12
      ul.session-list
        li
          div.row
            div.col-xs-6.col-md-4
              span.session-list-date !{session.dbModel.timeDetails.startDateFormatted}
              br
              span.session-list-time !{session.dbModel.timeDetails.timeSpan}
              span &nbsp;
              span (!{session.dbModel.timeDetails.swDur.default})
            div.col-xs-3.col-md-6
              each act in session.dbModel.activityList
                span.session-list-act !{act}

  div.row
    div.col-xs-12.col-sm-6
      div.panel.panel-default
        div.panel-heading.text-center: strong Activites Log
        table.table
          thead
            tr
              th #
              th
              th Activity
              th Duration
          tbody#activities-log
            each block, index in session.blocks
              tr(class=block.dbModel.activity.name == 'Paused' ? 'active' : '')
                td !{index+1}
                td.act-color-square(data-act=block.dbModel.activity._id) &nbsp;
                td !{block.dbModel.activity.name}
                td !{block.dbModel.timeDetails.swDur.default}
    div.col-xs-8.col-xs-offset-2.col-sm-offset-0.col-sm-6
      div.panel.panel-default
        div.panel-heading.text-center: strong Time Spent (in minutes)
        div.panel-body
          canvas#act-pie-chart


block append scripts
  script.
    // instantiate chart
    var ctx = $('#act-pie-chart');
    window.actPieChart = new Chart(ctx, {
      type: 'doughnut',
      data: !{session.getPieChartData()}
    });

    // color activity squares
    window.helpers.colorActSquares(!{session.getActColors()});
