extends ./sessions-layout

block content
  h2 Session Details
  
  ul
    li: a(href=session.urlEdit) Edit Session
    li: a(href=session.urlDelete) Delete Session

  dl
    dt Date
    dd= session.timeDetails.startDateFormatted

    dt Time
    dd !{session.timeDetails.timeSpan} (!{session.timeDetails.durationInMin} min)

  h3 Activities
  table.table.table-bordered
    thead
      tr
        td Time
        td Activity
        //- td Details
    tbody
      each block in session.blocks
        tr
          td
            span !{block.timeSpan(session.user.timezone)} (!{block.timeDetails.durationInMin} min)
          td
            span= block.activity.name