extends ./sessions-layout

block content
  div.row
    div.col-xs-5
      h2 Edit Session
    div.col-xs-7.button-list.text-right
      h2
        a.btn.btn-default(href=session.dbModel.urlDetails) Back to Details
        //- a.btn.btn-danger(href=session.dbModel.urlDelete) Delete Session

  div.row
    div.col-xs-12
      form(action=session.dbModel.urlEdit, method="POST")
        div.form-group
          label.control-label(for='input-start-date-time') Starting Date
          input#input-start-date-time.form-control.flatpickr(type='text', name='startDateTime' required=true, data-init-val=session.startDateTime)

        div.form-group
          div.panel.panel-default
            div.panel-heading.text-center Activity Log
            table.table
              thead
                tr
                  th #
                  th Activity
                  th Minutes
                  th
                  th Seconds
                  th Actions
              tbody#session-blocks-input-container
            div.panel-footer
              button#add-bk-btn.btn.btn-success(type='button') Add Block

        div.form-group.button-list
          button.btn.btn-primary(type='submit') Save
          a.btn.btn-default(href=session.dbModel.urlDetails) Cancel

        div.invisible
          input#session-blocks-hidden-data(type='hidden' name='sessionBlocksHiddenData' value=session ? session.getBlocksJSON() : '')

          input#activity-options-data(type='hidden' value=session ? session.getActivityOptionsJSON() : '')

        div.form-group
          if  errors && errors.length
            div.alert.alert-danger
              ul
                each error in errors
                  li !{error.msg} 

block append scripts
  script(src='/scripts/handle-session-block-inputs.js')