extends ./sessions-layout

block content
  h2 Sessions

  div.button-list
    a.btn.btn-success(href='/sessions/live') Start live session
    a.btn.btn-primary(href='/sessions/create') Add new session manually

  table.table.table-bordered
    thead
      tr
        td Date
        td Activities
        td Details
    tbody
      each session in sessions
        tr
          td
            span= session.timeDetails.startDateFormatted
            br
            span !{session.timeDetails.timeSpan} (!{session.timeDetails.durationInMin} min)
          td
            each val, index in session.activityList
              if index === session.activityList.length - 1
                span= val
              else
                span= val + ', ' 
          td: a(href=session.urlDetails) Session Details

