extends ./sessions-layout

block content
  div.row
    div.col-xs-12
      h2 Session History

  div.row.vert-spacer-big
    div.col-xs-6
      a.btn.btn-success.btn-lg.btn-block(href='/sessions/live') Start live session
    div.col-xs-6
      a.btn.btn-primary.btn-lg.btn-block(href='/sessions/create') Add new session manually

  //- table.table.table-bordered
  //-   thead
  //-     tr
  //-       td Date
  //-       td Activities
  //-       td Details
  //-   tbody
  //-     each session in sessions
  //-       tr
  //-         td
  //-           span= session.timeDetails.startDateFormatted
  //-           br
  //-           span !{session.timeDetails.timeSpan} (!{session.timeDetails.durationInMin} min)
  //-         td
  //-           each val, index in session.activityList
  //-             if index === session.activityList.length - 1
  //-               span= val
  //-             else
  //-               span= val + ', ' 
  //-         td: a(href=session.urlDetails) Session Details

  div.row
    div.col-xs-12
      ul.session-list
        each session in sessions
          li
            div.row
              div.col-xs-6.col-md-4
                span.session-list-date !{session.timeDetails.startDateFormatted}
                br
                span.session-list-time !{session.timeDetails.timeSpan}
                span &nbsp;
                span (!{session.timeDetails.swDur.default})
              div.col-xs-3.col-md-6
                each act in session.activityList
                  span.session-list-act !{act}
              div.col-xs-3.col-md-2.text-right
                a.btn.btn-default(href=session.urlDetails) View Details

