extends ../layout

block content
  h2 Sessions

  ul
    li: a(href='/sessions/create') Add a new session

  table.table.table-bordered
    thead
      tr
        td Date
        td Activities
        td Details
    tbody
      each session in sessions
        tr
          td
            span= session.timeDetails.startDateFormatted
            br
            span !{session.timeDetails.timeSpan} (!{session.timeDetails.duration})
          td
            each val, index in session.activityList
              if index === session.activityList.length - 1
                span= val
              else
                span= val + ', ' 
          td: a(href=session.urlDetails) Session Details

