extends ./sessions-layout

block content
  p !{pagerModel.page}
  p !{pagerModel.limit}
  p !{pagerModel.countSelected}
  p !{pagerModel.countTotal}
  p !{pagerModel.getPreviousButtonUrl()}
  p !{pagerModel.getNextButtonUrl()}
  p #{pagerModel.getStartNo()} - #{pagerModel.getEndNo()} of #{pagerModel.countTotal}

  ul.pagination
    li: a(href=pagerModel.getPreviousButtonUrl()): span.glyphicon.glyphicon-chevron-left
    li: a(href=pagerModel.getNextButtonUrl()): span.glyphicon.glyphicon-chevron-right



  div.row
    div.col-xs-5
      h2 Session History
    div.col-xs-7.button-list.text-right
      h2
        a.btn.btn-success(href='/sessions/live') Start live session
        a.btn.btn-primary(href='/sessions/create') Add new session manually

  div.row
    div.col-xs-12
      ul.session-list
        each session in sessions
          li
            div.row
              div.col-xs-6.col-md-4
                span.session-list-date !{session.timeDetails.startDateFormatted}
                br
                span.session-list-time !{session.timeDetails.timeSpan}
                span &nbsp;
                span (!{session.timeDetails.swDur.default})
              div.col-xs-3.col-md-6
                each act in session.activityList
                  span.session-list-act !{act}
              div.col-xs-3.col-md-2.text-right
                a.btn.btn-default(href=session.urlDetails) View Details

