extends ../layout

block content
  h2 LIVE SESSION
  p This is the /sessions/live page

  form(action='sessions/live', method='POST')

    div.form-group.button-list
      //- button.btn.btn-primary(type='submit') Save
      //- a.btn.btn-default(href='/sessions') Cancel


    div.invisible
      input#session-blocks-hidden-data(type='hidden' name='sessionBlocksHiddenData' value=session ? session.getBlocksJSON() : '')

      input#activity-options-data(type='hidden' value=session ? session.getActivityOptionsJSON() : '')

      input#session-start-data(type='hidden' value=session.startDateTime)
      input#input-start-date-time.form-control(type='datetime-local', name='startDateTime' required=true placeholder='' value='')

  div
    span#sw-hours 00
    span &nbsp;:&nbsp;
    span#sw-minutes 00
    span &nbsp;:&nbsp;
    span#sw-seconds 00

  div.button-list
    each act in session.activityOptions
      button.btn.btn-default.activity-button(type='button' data-act-id=act._id) !{act.name}

block scripts
  script(src='/scripts/handle-input-timezones.js')
  script(src='/scripts/handle-live-session.js')